<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LiveBiblePresentation.Resources.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="LiveBiblePresentation.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LiveBiblePresentation.Resources.Settings>
            <setting name="VerseID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NoOfVerses" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="DisplayNo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FrmLiveWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="FrmLiveHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="BackgroundImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ShadowColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>664, 520</value>
            </setting>
            <setting name="IsSettingsVisible" serializeAs="String">
                <value>Visible</value>
            </setting>
            <setting name="SelectedTextColor" serializeAs="String">
                <value>LawnGreen</value>
            </setting>
            <setting name="BibleLanguage" serializeAs="String">
                <value>RomanianCornilescu</value>
            </setting>
            <setting name="TextAlignment" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="Text" serializeAs="String">
                <value />
            </setting>
        </LiveBiblePresentation.Resources.Settings>
        <LiveBiblePresentation.Settings>
            <setting name="VerseID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NoOfVerses" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="DisplayNo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FrmLiveWidth" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="FrmLiveHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="GoLive" serializeAs="String">
                <value>Please GO LIVE! first!</value>
            </setting>
            <setting name="BackgroundImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ShadowColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>520, 520</value>
            </setting>
            <setting name="IsSettingsVisible" serializeAs="String">
                <value>Visible</value>
            </setting>
        </LiveBiblePresentation.Settings>
    </userSettings>
</configuration>